@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Sysmedac</h1>
    <p>Deploying Sample Dotnet application in Docker using CI/CD</a>.</p>
</div>

